body {
  padding: 50px;
}

.content-wrapper {
max-width: 1200px;
margin: auto;
}

.nav-bar {
background-color: #eee;
padding: 20px 20px;
margin: 20px 0px;
/* text-align: center; */
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  max-height: 200px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 10px;
}
